Package: com.adtnim.majeed
Name: adtnim
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: majed
Author: majed
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
